
.container.my-5 {
    .row {
      align-items: center;
  
      img {
        max-width: 100%;
        margin-bottom: 1rem;
      }
  
      .col-md-10 {
        p {
          text-align: justify;
        }
      }
    }
  }
  